* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

}

.first_section {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    /* align-items: center; */
}

header {
    height: 15vh;
    display: flex;
    gap: 25vw;
    justify-content: center;
    align-items: center;


}

i.menu {
    font-size: 2vw;
    color: black;
    display: none;
}


.Hairnic {
    color: white;
    font-size: 2.30vw;
    font-weight: bold;
}
.second_header {
    display: flex;
    gap: 4vw;
    align-items: center;


}

.header_ul {
    display: flex;
    gap: 3vw;
    margin-bottom: 0;
}

.second_header ul li {
    list-style: none;
    font-size: 1.20vw;

}

.second_header a {
    text-decoration: none;
    color: black;

}

.header_ul a.home1 {
    color: white;
}

.Shop_now {
    height: 6vh;
    width: 8vw;
    background-color: black;
    color: white;
    font-size: 1vw;
    border-radius: 7%;


}

.second_header a:hover {
    color: white;
}

.backgroud_image {
    background:
        url(/img/bg.png),
        linear-gradient(120deg, #90bc79 50%, #9BC387 50%);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: slideTopToBottom 1s;
}
.info h1{
    font-size: 4vw;
    color: white;
    font-weight: bold;
}
.info p{
    color: white;
    font-size: 1.20vw;
}
@keyframes slideTopToBottom {
    from {
        transform: translateY(-60%);
    }
    to {
        transform: translateY(0%);
    }
}
.seven_section {
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.seven_section_1 {
    text-align: center;
}

.seven_section_1 h1 {
    font-size: 2.50vw;
    font-weight: lighter;
}

.seven_section_1 span {
    color: #9BC387;
    font-weight: bold;
}

.seven_section_1 p {
    font-size: 1.30vw;
    width: 50vw;
    color: #656565;
}
.seven_section_2{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.seven_section_boxs {
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;

}

.seven_section_box {
    border: 2px solid #F4F8F1;
    width: 17vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.10vw;

}

.seven_section_box img {
    height: 45vh;
    width: 8vw;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;

}

.star i {
    font-size: 1vw;
    color: #9BC387;
}

.star h6 {
    font-size: 1.30vw;
    text-align: center;
    color: #656565;
    font-weight: lighter;
}

.seven_section_box h6 {
    font-size: 1.20vw;
    font-weight: bold;

}

.seven_section_box h5 {
    font-size: 1.50vw;
    color: #9BC387;
    font-weight: bold;
}

.seven_section_box button {
    height: 5vh;
    width: 8vw;
    color: #9BC387;
    background-color: transparent;
    border-radius: 5%;
    border: 3px solid #9BC387;


}

.seven_section_box:hover {
    transform: scale(1.05);
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.seven_section_box:hover button {
    background-color: #AFCF9F;
    color: white;
    border: none;
}
.seven_section_2 .btn_1{
    width: 13vw;
    height: 7vh;
    border: 4px solid #ecf6e7;
    background-color: #AFCF9F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.ten_section{
    height: 60vh;
    background:
    url(/img/bg.png),
    linear-gradient(120deg, #90bc79 50%, #9BC387 50%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}
.ten_section_1 h1{
    font-weight: lighter;
    font-size: 2.80vw;

}
.ten_section_1 span{
    font-weight: bold;
    color: white;
}
.ten_section_1 p{
    text-align: center;
    font-size: 1.20vw;
    color: white;
}
.ten_section_2{
    width: 45vw;
    height: 8vh;
    border: 3px solid #F4F8F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vw;
    background-color: #B2D0A1;
    border-radius: 0.3vw;
}
 .email{
    border: none;
    background-color: transparent;
    border-style: none;
    font-size: 1.30vw;
   
}
.ten_section_2 i{
    font-size: 1.80vw;
    color: #F4F8F1;
}
footer{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
}
.footter_section_1{
    display: flex;
    /* width: 70vw; */
  /* align-items: center; */
    justify-content: center;
    gap: 5vw;
    margin-top: 10vh;
   


}
.footer_1{
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.footer_1 h1{
    color: #90bc79;
    font-weight: bold;
}
.footer_1 p{
    color: #656565;
    font-size: 1.20vw;
}
.footer_2{
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;

}
.footer_2 h5{
    font-weight: bold;
}
.footer_2 .footer_2_info{
    color: #656565;
    
}
.footer_2_info p{
    display: flex;
    gap: 1vw;
    align-items: center;
}
 .iconss{
    display: flex;
    gap: 0.50vw;
   
  
}
.iconss i{
    border: 2px solid #90bc79;
    height: 5vh;
    width: 2.50vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #90bc79;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.9s, color 0.9s, border 0.9s;
    


}
.iconss i:hover{
    background-color: #9BC387;
    color: black;
    border: none;
}
.footer_3{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 15vw;
}
.footer_3 h5{
    font-weight: bold;
}
    

.footer_3 a{
   
    text-decoration: none;
    color: #656565;
    transition: transform 0.1s;
    transform-origin: left;
   
    
    
}
.footer_3 a:hover{
    color: #90bc79;
    transform: scaleX(1.1); 
}
.footer_4{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 15vw;
}
.footer_4 h5{
    font-weight: bold;
}  

.footer_4 a{
   
    text-decoration: none;
    color: #656565;
    transition: transform 0.1s;
    transform-origin: left;
   
    
    
}
.footer_4 a:hover{
    color: #90bc79;
    transform: scaleX(1.1); 
}
.footter_section_2{
 width: 75vw;
 height: 10vh;
 border-top:  2px solid #bcf5a0ba;
 display: flex;
 gap: 18vw;
 align-items: center;
 
}
.footter_section_2_1{
    height: 5vh;
}
.footter_section_2_1 p{
    width: 35vw;
    color: #656565
    
}
.footter_section_2_2{
    display: flex;
    gap: 1vw;
}
.footter_section_2_2 a{
 text-decoration: none;
 color: #656565;
 width: 5vw;
 height: 4vh;
 border-right:  2px solid #bcf5a0ba;

}
.footter_section_2_2 :hover{
    color: #9BC387;
}
.footter_section_2_2 .a_4{
    border: none;
}



@media screen and (max-width:1024px) {
    .backgroud_image {
        background:
            url(/img/bg.png),
            linear-gradient(120deg, #90bc79 50%, #9BC387 50%);
        height: 60vh;
        width: 100vw;
        background-size: cover;



    }

    body {
        overflow-x: hidden;
    }

    .first_section {
        height: 70vh;
        gap: 15vh;
    }

    .second_header ul li {
        font-size: 1.70vw;
    }

    .Hairnic {
        font-size: 3vw;
    }

    .second_section {
        height: 20vh;
        gap: 1vw;

    }

    .Shop_now {
        height: 7vh;
        width: 12vw;
        font-size: 1.50vw;
    }
    .info h1{
        font-size: 5vw;
    }
    .info p{
        font-size: 1.50vw;
    }

  

    .boxs {

        width: 29vw;
        height: 35vh;
        font-size: 2vw;

    }

    .boxs::before {
        width: 27vw;
        height: 31.50vh;
    }

    .leaf {
        font-size: 5vw;
    }

    .drop {
        font-size: 5vw;
    }

    .close {
        font-size: 5vw;
    }

    .thrid_section img{
        width: 45vw;
    }
    .thrid_section {
        gap: 8vw;
        height: 100vh;
    }


    .thrid_section_info {
        gap: 1vw;
        width: 40vw;
    }

    .thrid_section_info span {
        font-size: 4vw;
    }

    .p0 {
        font-size: 4vw;
    }

    .p1,
    .p2 {
        font-size: 1.50vw;
    }

    .Shop_now2 {
        width: 12vw;
        height: 7vh;
        font-size: 1.50vw;
    }
    .seven_section {
        height: 250vh;
        display: flex;
        gap: 5vw;
    }
   
    .seven_section_1 h1 {
        font-size: 4vw;
    }

    .seven_section_1 p {
        font-size: 1.80vw;
        width: 60vw;
    }

    .seven_section_boxs {
        gap: 1vw;
    }

    .seven_section_box {
        height: 90vh;
        width: 23vw;
        gap: 0.2vw;
    }

    .seven_section_box img {
        width: 10vw;
        height: 50vh;
    }


    .star i {
        font-size: 1.50vw;
    }

    .star h6 {
        font-size: 1.50vw;
    }

    .seven_section_box h6 {
        font-size: 1.80vw;
        text-align: center;
    }

    .seven_section_box h5 {
        font-size: 2vw;
    }

    .seven_section_box button {
        height: 6vh;
        width: 12vw;
    }
    
    .seven_section_2 .btn_1{
        width: 20vw;
    }
  

  .ten_section {
        height: 60vh;
    }

    .ten_section_1 h1 {
        font-size: 4vw;
    }

    .ten_section_1 p {
        font-size: 1.70vw;
    }

    .ten_section_2 {
        width: 50vw;
    }

    .email {
        font-size: 1.70vw;
    }

    .ten_section_2 i {
        font-size: 2vw;
    }

    footer {
        height: 80vh;
        gap: 6vw;
    }

    .footer_1 {
        width: 20vw;
    }

    .footer_1 h1 {
        font-size: 3.50vw;
    }

    .footer_1 p {
        font-size: 1.50vw;
    }

    .footer_2 {
        width: 20vw;
    }

    .footer_3 {
        width: 20vw;
    }

    .iconss i {
        width: 4vw;
        height: 6vh;
    }

    .footter_section_2 {
        width: 90vw;
        gap: 5vw;
    }

    .footter_section_2_1 p {
        width: 50vw;
    }

    .footter_section_2_2 {
        gap: 3vw;
    }

    .footter_section_2_2 a {
        width: 7vw;
    }
}


